# Dependency directories
node_modules/

# Environment variables file (if used)
.env

# Log files
*.log

# Build files
/build
/dist

# Editor-specific files
.idea/
.vscode/
*.sublime-workspace
auth.json
# Operating System files
.DS_Store
Thumbs.db
